<header class="header__block">
  <div class="top-part__block ptb-15">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <p style="color: #fff;">Welcome to NAVA NALANDA Santiniketan School</p>
            </div>
            <div class="col-sm-5">
                <div class="social-link__block text-right">
                    <a href="https://www.facebook.com/navanalandagroupofschools"><i class="fa fa-facebook" target="_blank"></i></a>
                    <a href="https://twitter.com/navanalanda_gs"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/navanalandagroupofschools/" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCzP3nENMeCCRP-TUE8shyvA" target="_blank"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
    </div>
  <div class="middel-part__block ptb-20">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="logo">
            <a href="/">
              <%= image_tag('logo.png', alt:"Logo") %>
            </a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="top-info__block text-right">
            <ul>
              <li>
                <i class="fa fa-map-marker"></i>
                <p>Nalanda Bhavan 25, Southern Avenue, Kolkata – 26 </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navgation__block stricky-header__top">
    <div class="">
      <div class="row">
        <div class="col-md-12">
          <div class="main-menu__block">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand visible-xs" href="#">
              <img src="/assets/logo.png" alt="">
              </a>
            </div>
            <!--===Navigation===-->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav mobile-menu">
                <li>
                  <a href="<%= root_path %>">Home</a> <span class="submenu-button"></span>                                        
                </li>
                <li>
                  <a href="javascript:avoid(0);">About us</a> <span class="submenu-button"></span>
                  <ul class="dropdown-menu">
                    <li> <a href="<%= welcome_about_us_path %>">Know Nava Nalanda</a> </li>
                    <li> <a href="<%= welcome_mission_path %>">Mission/Vision</a> </li>
                    <li> <a href="<%= welcome_principal_message_path %>">Principal's Message</a> </li>
                  </ul>
                </li>
                <li>
                  <a href="javascript:avoid(0);">Achievements</a> <span class="submenu-button"></span>
                  <!--<ul class="dropdown-menu">
                    <li> <a href="#">Admission Procedure</a> </li>
                    <li> <a href="#">Fee Structure</a> </li>
                    <li> <a href="#">Online Admission</a> </li>
                    </ul>-->
                </li>
                <li>
                  <a href="javascript:avoid(0);">Academics</a> <span class="submenu-button"></span>
                  <ul class="dropdown-menu">
                    <li> <a href="<%= welcome_fee_stracture_path %>">Fee Structure</a> </li>
                    <li><a href="<%= welcome_water_certificate_path %>">Water,Health <br />and Sanitation Certificate</a></li>
                    <li><a href="<%= welcome_academic_calender_path %>">Academic Calendar</a></li>
                    <li><a href="<%= welcome_fire_safety_path%>">Fire Safety Certificate</a></li>
                    <li><a href="<%= welcome_land_certificate_path %>">Land Certificate</a></li>
                    <li><a href="<%= welcome_society_certificate_path %>">Society/Trust <br />Registration Certificate</a></li>
                    <li><a href="<%= welcome_noc_path %>">No Objection Certificate</a></li>
                    <li><a href="<%= welcome_recognition_path %>">Recognition Certificate</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Facilities</a> <span class="submenu-button"></span>
                  <!--<ul class="dropdown-menu">
                    <li> <a href="#">Event</a> </li>
                    <li> <a href="#">Event Details</a> </li>
                    </ul>-->
                </li>
                <li>
                  <a href="javascript:avoid(0);">Gallery</a> <span class="submenu-button"></span>
                  <ul class="dropdown-menu">
                    <li> <a href="<%= welcome_gallery_path %>">Photo Gallery</a> </li>
                    <li> <a href="#">Video Gallery</a> </li>
                    <li> <a href="#">Media Gallery</a> </li>
                  </ul>
                </li>
                <li>
                  <a href="#" target="_blank">Prospectus</a> <span class="submenu-button"></span>
                </li>
                <li><a href="<%= welcome_mandatory_public_disclosure_path %>">Mandatory Public Disclosure</a></li>
                <li><a class="custom_btn__block" href="<%= welcome_contact_us_path %>">Contact us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>